.loadingAn {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    z-index: 999;
}

.loadingAn .logo {
    width: 5%;
    min-width: 50px;
}

.banner {
    width: 100%;
}

.banner .row {
    height: 100vh;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.content span {
    display: block;
}

.bannerTxt {
    text-align: center;
}

.bannerTxt .title,
.content {
    text-align: center;
}

.bannerTxt h1.title {
    font-size: 8.65rem;
    font-weight: 500;
    letter-spacing: -26px;
    transform: translateY(0%) scale(1);
    transition: all 1s ease-in-out;
    display: inline-block;
}

.bannerTxt .title.active {
    font-size: 6.65rem;
    transform: translateY(-60%) scale(1.18);
    transition: all 1s ease-in-out;
    opacity: 0.1;

}

.bannerTxt h1.title span {
    text-align: center;
    background: linear-gradient(to right, #1A7F82 0%, #1A7F82 40%, #fff 48%, #fff 50%, #1A7F82 60%, #1A7F82 80%, #1A7F82 100%);
    background: -webkit-linear-gradient(to right, #1A7F82 0%, #1A7F82 40%, #fff 48%, #fff 50%, #1A7F82 60%, #1A7F82 80%, #1A7F82 100%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 260%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    color: transparent;
    opacity: 0;
    left: 10%;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 2s;
    letter-spacing: 0px;
    animation-fill-mode: forwards;
}

@keyframes textShow {
    from {
        opacity: 0;
        left: 10%;
    }

    to {
        opacity: 1;
        left: 0%;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.bannerTxt .dot {
    opacity: 0;
    position: absolute;
    top: 17%;
    left: 45.9%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #F08223;
    font-family: 'Poppins', sans-serif;
    font-size: 9rem;
    letter-spacing: -7.7rem;
    line-height: 1;
    transition: opacity 1s ease-in-out;
}

.bannerTxt .dot.active {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.contentArea {
    position: relative;
}

.contentArea .content {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s ease-in-out;
}

.contentTwo {
    opacity: 0;
    z-index: -3;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.contentOne {
    opacity: 0;
}

.contentOne.active {
    opacity: 0 !important;
    z-index: -3;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.contentTwo.active {
    transform: translate(-50%, -35%);
    opacity: 1;
    z-index: 1;
    pointer-events: inherit;
    transition: all .5s ease-in-out;
}

.imgCard {
    position: absolute;
    z-index: -1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 375% center;
    border-radius: 5px;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

.imgCard.show {
    background-position: center;
    transition: all 1s ease-in-out;
}

.imgCard .mask {
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    transition: all 1s ease-in-out;
}

.mask.maskplay {
    left: 0%;
    transition: all 1s ease-in-out;
    animation-delay: 1s;
    animation-name: maskplay;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes maskplay {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}

.imgCard .img {
    position: absolute;
    top: 0%;
    left: -50%;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
}

.imgCard .img.show {
    left: 0%;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.card1 {
    top: 12%;
    left: 0%;
    width: 9.33vw;
    height: 30.77vh;
    /* clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); */
    border-radius: 0px 5px 5px 0px;
    animation-delay: 1.3s;
    /* animation-name: cardOneAn; */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: all 1s ease-in-out;
}

.card1.leave {
    left: -10%;
    top: 0%;
    opacity: 0;
    transition: all 1s ease-in-out;
}

@keyframes cardOneAn {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.card2 {
    top: 22%;
    left: 12.7%;
    width: 14.053vw;
    height: 43.16vh;
    /* clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); */
    animation-delay: 1.3s;
    /* animation-name: cardOneAn; */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.card2.leave {
    left: -10%;
    top: 10%;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.card3 {
    bottom: 3%;
    left: 1.5%;
    width: 20.68vw;
    height: 26.44vh;
    /* clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%); */
    animation-delay: 1.9s;
    /* animation-name: cardTwoAn; */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: all 2s ease-in-out;
}

.card3.leave {
    left: -10%;
    bottom: 0%;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.card3.fullSc {
    position: fixed !important;
    bottom: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    transition: all 2s ease-in-out;
}

@keyframes cardTwoAn {
    from {
        clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.card4 {
    top: 12%;
    right: 1.7%;
    width: 19.02vw;
    height: 23.08vh;
    /* clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%); */
    animation-delay: 1.9s;
    /* animation-name: cardTwoAn; */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.card4.leave {
    right: -10%;
    top: 0%;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.card5 {
    top: 41%;
    right: 13.7%;
    width: 12.13vw;
    height: 34.84vh;
    /* clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); */
    animation-delay: 1.3s;
    /* animation-name: cardOneAn; */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.card5.leave {
    right: -10%;
    top: 41%;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.card6 {
    bottom: 0%;
    right: 0%;
    width: 12.13vw;
    height: 34.84vh;
    border-radius: 5px 0px 0px 0px;
    /* clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); */
    animation-delay: 1.3s;
    /* animation-name: cardOneAn; */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.card6.leave {
    right: -10%;
    bottom: 0%;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.videoArea {
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.videoArea #bannerVideo {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: fill;
    z-index: -1;
}

.videoArea .videoTxt {
    opacity: 0;
    transform: translateY(5%);
    transition: all 1s ease-in-out;
}

.videoArea .videoTxt.active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 1s ease-in-out;
}

.videoArea .videoTxt h1.title {
    text-align: center;
    font-size: 8.65rem;
    font-weight: 500;
    color: #fff;
    opacity: 0.3;
}

.videoArea .videoTxt .dot {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #F08223;
    font-family: 'Poppins', sans-serif;
    font-size: 9rem;
    letter-spacing: -7.7rem;
    line-height: 1;
}

.scrollBtn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
}